[Unit]
Description=Set random wallpaper
Requires=swww-deamon.service
After=swww-deamon.service

[Service]
Type=oneshot
ExecStart=waypaper --random

[Install]
WantedBy=default.target
