[Unit]
Description=Set random wallpaper
; Requires=swww-daemon.service
; After=swww-daemon.service
; After=graphical-session.target
; Requires=graphical-session.target

[Service]
Type=oneshot
ExecStart=waypaper --random

[Install]
WantedBy=default.target
; WantedBy=graphical-session.target
