[Unit]
Description=Set random wallpaper
; Requires=swww-daemon.service
; After=swww-daemon.service
; After=graphical-session.target
; Requires=graphical-session.target

[Service]
Type=oneshot
; ExecStart=waypaper --random
ExecStart=%h/.local/share/set_random_wallpaper.sh

[Install]
WantedBy=default.target
; WantedBy=graphical-session.target
