* { all: unset; }

/* .bar { */
/*   padding: 10px; */
/* } */


.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 6px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.label-ram {
  font-size: large;
}

.workspaces button:hover {
  color: #D35D6E;
}

.workspace-entry {
  color: #1D1D1D;
  font-weight: bold;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
}

.occupied {
  color: #C0BB90;
  background-color: #1D1D1D;
}

.current {
  background-color: #C0BB90;
  color: #1D1D1D;
}

.circle {
  color: #DE7077;
  background-color: gray;
  margin-top: 3px;
}

.metric {
  color: #C0BB90;
  background-color: #1D1D1D;
  /* border: 2px solid black; */
  border-radius: 10px;
  margin-left: 7px;
  margin-right: 7px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
}

tooltip {
  color: #C0BB90;
  background-color: #1D1D1D;
}

label {
  font-size: 17px;
}
